.search {
  background-color: #fff !important;
  border: none;
  padding: 15px;
}

.form-control {
  border: none;
  padding-left: 0;
  font-size: 14px;
}

.note svg {
  margin: 0 10px;
}

.note svg path {
  stroke: #000000;
}
