.bordercomming,
.add {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cardd {
  text-align: center;
  position: relative;
}

.bordercomming {
  align-items: center;
}

.cardd::after {
  content: "";
  height: 82px;
  width: 2px;
  background-color: #ebebeb;
  position: absolute;
  top: -20%;
  right: 0%;
}

.persons {
  align-items: center;
}

.persons svg.person {
  width: 50px !important;
  height: 50px !important;
}

.textsubtitle2 {
  font-weight: bold;
  color: #834f8d;
}

.textsubtitle2 path {
  stroke-width: 2px;
  stroke: #834f8d;
}

.pending {
  color: #f7ba53;
}

.pending path {
  stroke: #f7ba53;
}

.control {
  display: flex;
  justify-content: center;
}
.control span {
  padding: 0 10px;
}
