.left {
  background-color: #ffffff;
}
.leftlayout {
  align-items: center;
  text-align: center;
}
.main {
  background: #f6f6f6;
}
.mainheader {
  display: flex;
  align-items: center;
}
.meeting {
  background: #ffffff;
}
.bordercomming {
  border-left: 10px solid #72397d;
}
.right {
  background-color: #ade3ef;
  position: relative;
  height: 100%;
}
.mainheadercard {
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.04em;

  /* Text */

  color: #2d2d2d;
}
.texttitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: -0.02em;
  color: #2d2d2d;
}
.textsubtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #7c8db5;
}

svg {
  color: #000000;
  width: 20px;
  height: 20px;
}
.grid {
  background-color: #000000;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.bi path {
  stroke-width: 0.7px;
  stroke: #acb8c8;
}

.box path {
  stroke: #000000;
}

svg.person {
  width: 40px;
  height: 40px;
  padding: 0;
}

.grid.add {
  background-image: linear-gradient(to bottom right, #691a76, #52085f);
}
.gridmeeting {
  background-image: linear-gradient(to bottom right, #fff, #52085f);
}

.scale {
  stroke-width: 1px;
  stroke: white !important;
}
.search {
  background-color: #fff !important;
  border: none;
  padding: 15px;
}

.form-control {
  border: none;
  padding-left: 0;
  font-size: 14px;
}

.note svg {
  margin: 0 10px;
}

.note svg path {
  stroke: #000000;
}
.mainheadercard::after {
  content: "";
  height: 20px;
  width: 1px;
  background-color: #d1d1d1;
  position: absolute;
  right: -20%;
  top: 25%;
}

.meeting {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.mainheadercard {
  position: relative;
}

.textsubtitle3 {
  font-weight: bold;
  color: #919191;
}
.bordercomming,
.add {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cardd {
  text-align: center;
  position: relative;
}

.bordercomming {
  align-items: center;
}

.cardd::after {
  content: "";
  height: 82px;
  width: 2px;
  background-color: #ebebeb;
  position: absolute;
  top: -20%;
  right: 0%;
}

.persons {
  align-items: center;
}

.persons svg.person {
  width: 50px !important;
  height: 50px !important;
}

.textsubtitle2 {
  font-weight: bold;
  color: #834f8d;
}

.textsubtitle2 path {
  stroke-width: 2px;
  stroke: #834f8d;
}

.pending {
  color: #f7ba53;
}

.pending path {
  stroke: #f7ba53;
}

.control {
  display: flex;
  justify-content: center;
}
.control span {
  padding: 0 10px;
}
.user {
  justify-content: end;
  align-items: center;
}
.next {
  background-color: #ffffff;
  padding-bottom: 0 !important;
}

.home {
  display: flex;
  justify-content: flex-end;
}

.home span {
  padding: 0 10px;
}

.home svg path {
  stroke: #bababc;
  stroke-width: 1px;
}

.tab {
  margin: 0 auto;
  width: 80%;
  background-color: #f1f0f6;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  top: calc(-50% + 10px);
  right: calc(10%);
}

.tab span {
  font-weight: bold;
  color: #c2cad6;
  display: flex;
  align-items: center;
}

.tab span span {
  display: inline-block;
  background-color: #f46f40;
  color: #f9cfc0;
  font-size: 0.8rem;
  padding: 4px;
  width: 25px;
  height: 25px;
  line-height: 15px;
  margin-left: 4px;
  border-radius: 10px;
}

.seo {
  background-color: #fafbff;
  border-bottom: 2px solid #f1f0f6;
  border-top: 2px solid #f1f0f6;
  padding: 20px 0;
}

.seo .grid {
  height: 16px;
  width: 16px;
  padding: 4px;
}

.seo .person {
  height: 16px;
  width: 16px;
}

.share span {
  padding: 0 10px;
}

.section {
  position: relative;
  margin-top: 50px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #c2ecf0;
}

.superb {
  align-items: center;
}

.superb span {
  margin: 0 10px;
}

.attend {
  padding: 0 30px;
}

.people {
  padding: 4px 4px;
  background-color: #ededed;
  border-radius: 16px;
  font-size: 0.6rem !important;
}

.attend .person {
  height: 16px;
  width: 16px;
}

.attend .d-flex {
  flex-direction: row;
}

.more {
  height: 20px;
  width: 20px;
  background-image: linear-gradient(to bottom right, #691a76, #52085f);
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.more span {
  font-size: 0.6rem !important;
  line-height: 20px;
  color: #fff !important;
}

.today {
  padding: 5px 5px;
  background-color: #f1f0f6;
  width: 95%;
  margin: 0 auto;
  border-radius: 25px;
}

.today .d-flex {
  justify-content: space-between;
  align-items: center;
}

.bi-brightness-high path {
  stroke: #f9d857 !important;
  fill: #f9d857;
}

.team {
  background-color: #fbfcff;
  align-items: center;
  padding: 20px 20px;
}

.phone {
  background-color: #f57141;
  color: #fff;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: space-between;
}

.phone svg {
  height: 14px !important;
  width: 14px !important;
}

.phone svg path {
  stroke: #fff;
  fill: #fff;
}

.ctr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upgrade {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 30px;
  background-color: #9cccd8;
}

.upgrade path {
  fill: #607b8b;
}
